/* Importación de la fuente */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Estilos del cuerpo de la página */
body {
  background-color: #fbe3e3; /*080202 negro*/
  font-family: "Poppins", sans-serif;
}

/* Contenedor principal */
.container {
  max-width: 90%; /* Cambio en la anchura del contenedor */
  margin: auto auto;
}

/* Botones del slider */
.swiper-button-prev::after {
  font-size: 40px;
}

.swiper-button-next::after {
  font-size: 40px;
}

.swiper-button-next {
  color: #805555;
}

.swiper-button-prev {
  color: #805555;
}

/* slider */
.swiper-pagination-bullet {
  background-color: #805555;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/* Menú de navegación */
.menu {
  position: absolute;
  top: 20px; /* Separación del menú respecto al borde superior */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar {
  display: flex;
}

.menu-1 {
  margin-right: 180px;
}

.menu-2 {
  margin-left: 180px;
  display: flex;
  align-items: center;
}

.logo-1 {
    width: 80px;
    height: 80px;
    margin-left: 10%; 
}

.logo-2 {
  width: 0px;
}

.logo-TEC {
  width: auto;
  height: 100px;
  margin-left: 0; 
  margin-top: 20px;
}

.logo-TEC2 {
  width: auto;
  height: 100px;
  margin-left: 0; 
  margin-top: 20px;
}

.department-title {
  font-size: 16px;
  align-items: center;
  margin-top: 50px;
}

/* Redes sociales */
.socials {
    display: flex;
  }
  
  .social {
    margin: 5px 15px;
    height: 55px;
    width: 55px;
    border: 1px solid #805555;
    border-radius: 50%;
  }
  
  .social:hover {
    background-color: #f6c8c7;
  }
  
  .social img {
    margin: 5px 5px 5px 5px;
    height: 45px;
    width: 45px;
  }

/* Estilos del menú de navegación */
.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 16px;
  padding: 20px;
  color: #805555;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #000000;
}

/* Menú desplegable en dispositivos móviles */
#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

/* Estilos del encabezado */
.header-content {
  margin-top: 50px; /* Ajuste para separar el slider del menú */
  padding-bottom: 50px;
}

/* Slider */
.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-txt {
    margin-left: 100px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 64px;
    color: #805555;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 22px;
    color: #805555;
    text-align: justify;
}

/* Botones del slider */
.botones {
    margin-top: 100px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #805555;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {
    background-color: #805555;
}

.slider-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.slider-img img {
    width: 100%;
    max-width: 350px;
}

/* Estilos para la sección del clima */
.clima {
  background-color: #f8d0cf; /* Color de fondo deseado */
  padding: 40px; /* Espaciado interno */
  margin-bottom: 40px; /* Espaciado inferior para separar de la sección de slides */
  display: flex; /* Flexbox para centrar el contenedor de clima */
  justify-content: center; /* Centra el contenedor de clima horizontalmente */
}

/* Estilos para el contenedor de la información del clima */
.clima-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los cuadros se ajusten a varias líneas */
  justify-content: space-between; /* Distribuye el espacio entre los cuadros */
  gap: 20px; /* Espacio entre los cuadros */
  max-width: 90%; /* Limita el ancho máximo del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

/* Estilos para cada cuadro de clima */
.clima-cuadro {
  background-color: #fff; /* Color de fondo de cada cuadro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  display: flex; /* Flexbox para alinear icono y texto */
  align-items: center; /* Alinea verticalmente el icono y el texto */
  justify-content: center; /* Centra el contenido dentro del cuadro */
  gap: 20px; /* Espacio entre el icono y el texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  flex: 1 1 22%; /* Los cuadros ocupan aproximadamente el 22% del ancho del contenedor */
  max-width: 25%; /* Limita el ancho máximo de cada cuadro */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho total */
  text-align: center; /* Centra el texto dentro del cuadro */
}

/* Estilos para las imágenes dentro de cada cuadro */
.clima-icono img {
  max-width: 80px; /* Ajusta el tamaño máximo de las imágenes */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos para el texto dentro de cada cuadro */
.clima-info p {
  margin: 0; /* Elimina márgenes por defecto */
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
  color: #805555; /* Color del texto */
  font-weight: bold; /* Hace el texto en negrita */
}

/* Sección de productos */
.products {
    background-color: #fbe3e3;
}

/* Pestañas de los productos */
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 3%;
}

.tabs label {
  width: 15%;
  order: 1;
  display: block;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  color: #805555;
  font-weight: 700;
  /*font-size: 24px;*/
  /*text-transform: uppercase;*/
  transition: background ease 0.2s;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding-top: 25px;
}

/* Input oculto para las pestañas */
.tabs input[type="radio"] {
  display: none;
}

/* Estilos activos de las pestañas */
.tabs input[type="radio"]:checked + label {
  border-bottom: 2px solid #805555;
  color: #ffffff;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

/* Estilos de los productos */
.product {
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 0 10px;
}

.product-img {
  width: 50%;
  text-align: left;
}

.product-img h4 {
  display: inline-block;
  padding: 5px 7px;
  line-height: 15px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #805555;
  border-radius: 10px;
  margin-bottom: 50px;
}

.product-img img {
  width: 150px;
  height: 120px;
}

.product-txt {
  width: 50%;
  margin-left: 10px;
  text-align: left;
}

.product-txt h4 {
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
}

.product-txt p {
  color: #805555;
  font-size: 16px;
  margin-bottom: 15px;
}

.product-txt span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
}

/* Sección de información */
.info {
  padding: 3%; /* Separación de la sección de información respecto a la sección anterior */
  display: flex;
  align-items: center;
  background-color: #f6c8c7;
  margin-top: 8%;
}

.info-img {
  width: 20%;
  margin-left: 10%;
}

.info-img img {
  width: 50%;
  height: 50%;
}

.info-txt {
  width: 80%;
}

.info-txt h2 {
  font-size: 400%;
  color: #805555;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
  
}

.info-txt p {
  font-size: 22px;
  color: #805555;
  margin-bottom: 50px;
  text-align: justify;
  margin-right: 100px;
}

.btn-2 {
  display: inline-block;
  padding: 10px 25px;
  background-color: #fbe3e3;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid #805555;
}

.btn-2:hover {
  background-color: #805555;
}

/* Estilo para la sección del mapa */
#mapa {
  background-color: #f8d0cf; /* Color de fondo deseado para toda la sección */
  margin-top: auto; /* Espaciado interno para separar el contenido de los bordes */
  margin-bottom: auto;
  width: 100%; /* Asegura que la sección ocupe el 100% del ancho disponible */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho total */
}

/* Estilo para el título del mapa */
.map-title {
  font-size: 48px;
  color: #805555;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 25px 8%; /* Margen inferior para el título y margen izquierdo ajustado */
}

/* Estilo para el iframe del mapa */
.map {
  width: 100%; /* Asegura que el mapa ocupe el 100% del ancho de su contenedor */
  height: 1200px; /* Ajusta la altura del mapa según sea necesario */
  border: 0; /* Elimina el borde del iframe */
  box-sizing: border-box; /* Incluye el borde en el cálculo del ancho total */
}

/* Pie de página */
.footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.links h4 {
  color: #805555;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.links ul li a {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
}

.clima-titulo {
  text-align: center;
  font-size: 1.5em;
  margin-top: 18px;
  margin-right: 45px;
  color: #805555;
}


/* Media queries */
@media (max-width: 575px) {
  /* Menu Section */
  .menu {
    position: relative;
    background-color: #f6c8c7; /* Color de fondo del menú y logo */
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .menu-2 {
    display: none;
  }

  /* Logo positioned to the left */
  .logo-1 {
    width: 50px; /* Reducido el tamaño del logo */
    height: 50px; /* Reducido el tamaño del logo */
    position: absolute;
    top: 50%; /* Centrado vertical */
    transform: translateY(-50%);
    left: 10px; /* Ajuste de posición */
  }

  .logo-2 {
    width: 0px;
  }


  /* Menu label positioned to the right */
  .menu label {
    display: initial;
    position: absolute;
    right: 20px; /* Ajusta según sea necesario */
    top: 10px; /* Ajusta según sea necesario */
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fbe3e3; /* Color de fondo del menú desplegable */
    display: none;
  }

  .menu .navbar ul li {
    width: 90%;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  /* Header Content Section */
  .header-content {
    padding: 30px;
    margin-top: 100px;
  }

  /* Slider Section */
  .slider {
    flex-direction: column;
    margin: auto;
  }

  .slider-txt {
    margin-left: 0;
    width: 90%;
    text-align: center;
    margin-bottom: 10px; /* Reduce espacio abajo */
  }

  .slider-txt h1 {
    font-size: 32px;
  }

  .slider-txt p {
    font-size: 16px;
  }

  .btn-1 {
    padding: 10px 25px;
    font-size: 14px;
  }

  .slider-img {
    width: 70%;
    text-align: center;
    margin: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none; /* Oculta las flechas de navegación */
  }

  /* Swiper Pagination and Buttons */
  .swiper-pagination-bullets {
    bottom: 10px; /* Ajusta la distancia desde abajo */
  }

  .swiper-pagination-bullet {
    background-color: #ffffff; /* Color de los bullets */
  }

  /* Tabs Section */
  .tabs {
    padding: 30px 20px; /* Reducimos el padding para disminuir el espacio alrededor de las tabs */
  }

  .tabs label {
    width: 50%;
    margin-bottom: 10px; /* Añadimos margen inferior para separar los labels */
    margin-right: 10px;
  }

  /* Info Section */
  .info {
    padding: 30px;
    background-color: #f6c8c7; /* Color de fondo de la sección de información */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Espacio adicional arriba */
    margin-bottom: 20px; /* Espacio adicional abajo */
  }

  .info-img {
    width: 100%;
    text-align: center;
  }

  .info-img img {
    width: 35%;
    height: 35%;
    display: block; /* Asegura que la imagen sea un bloque para el margen automático */
    margin: auto; /* Centra horizontalmente */
    margin-bottom: 20px; /* Espacio inferior */
  }  

  .info-txt h2 {
    font-size: 24px; /* Reducido el tamaño del título */
    width: 100%;
    margin-bottom: 15px; /* Espacio inferior */
  }

  .info-txt p {
    font-size: 16px;
    text-align: justify;
    width: 100%;
  }

  /* Button Section */
  .btn-1 {
    font-size: 16px;
  }

  /* Horario Section */
  .horario {
    padding: 30px;
    text-align: center;
  }

  .horario-info h2 {
    font-size: 48px;
    margin-bottom: 15px;
  }

  /* Socials Section */
  .socials {
    justify-content: center;
  }

  .socials img {
    margin: 8px 0 0 0;
  }

  /* Footer Section */
  .footer {
    padding: 30px;
    flex-direction: column;
    text-align: center;
  }

  .logo-TEC {
    width: auto;
    height: 80px;
    align-items: center;
}

  .logo-TEC2 {
      width: 80px; /* Aumentar el tamaño para que sea más visible */
      height: auto;
      margin: 0 auto; /* Centrar horizontalmente */
      margin-top: 10px; /* Añadir espacio superior si es necesario */
  }

  .links h4 {
    margin: 25px 0px 10px 0px;
  }

/* Estilos para la sección del clima en pantallas pequeñas */
.clima {
  padding: 10px; /* Reduce el padding interno en pantallas pequeñas */
  display: flex; /* Flexbox para centrar el contenedor de clima */
  justify-content: center; /* Centra el contenedor de clima horizontalmente */
}

/* Estilos para el contenedor de la información del clima en pantallas pequeñas */
.clima-container {
  flex-direction: column; /* Coloca los cuadros en una columna */
  align-items: center; /* Centra los cuadros horizontalmente */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  gap: 10px; /* Espacio entre los cuadros */
}

/* Estilos para cada cuadro de clima en pantallas pequeñas */
.clima-cuadro {
  width: 100%; /* Ajusta el ancho de los cuadros para pantallas pequeñas */
  max-width: none; /* Elimina el ancho máximo en pantallas pequeñas */
  flex-direction: row; /* Alinea el icono y el texto en una fila */
  gap: 10px; /* Espacio entre el icono y el texto */
  justify-content: center; /* Centra el contenido dentro del cuadro */
  text-align: center; /* Centra el texto dentro del cuadro */
  padding: 15px; /* Ajusta el padding interno si es necesario */
}

/* Estilos para las imágenes dentro de cada cuadro en pantallas pequeñas */
.clima-icono img {
  max-width: 45px; /* Ajusta el tamaño máximo de las imágenes */
}

/* Estilos para el texto dentro de cada cuadro en pantallas pequeñas */
.clima-info p {
  font-size: 1rem; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
}

}